@* Views/Home/Categoria.cshtml *@
@{
	ViewData["Title"] = "Categoria";
}
<div class="text-center">
    <h1 class="display-4">Pagina de Categoria</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>Arquitectura y diseño de software</p>
    <p>Roy Vito</p>

</div>